@model IEnumerable<ass3.Models.Customer>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/RowHighlighting.css")
@Scripts.Render("~/Scripts/RowHighlighting.js")
@Styles.Render("~/Content/RowHighlighting.css")
@Scripts.Render("~/Scripts/AlternatingRowColouring.js")



<h2>Customer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        Find by Game : @Html.TextBox("game")
        <input type="submit" value="Search" />
    </p>
}


<p>
    @Html.ActionLink("Create New Customer", "Create") | @Html.ActionLink("Search", "Search", "Customers")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

   
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Suburb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID }) |
                       
                    </td>
                </tr>
            </tbody>
        }


</table>
